[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=oiachatbot
Group=www-data
WorkingDirectory=/home/oiachatbot/test-sso/sso
ExecStart=/home/oiachatbot/.cache/pypoetry/virtualenvs/sso-iToQJNNI-py3.10/bin/gunicorn --access-logfile - --workers 4 --log-level 1 --bind 127.0.0.1:8080 wsgi:app

[Install]
WantedBy=multi-user.target